<app-header></app-header>

<div id="formularioCandidato">
    <form [formGroup]="formCandidato">
        <div class="linha">
            <div class="col-1">
                <label>Nome: </label>
                <br>
                <input type="text" placeholder="Nome completo">
            </div>
        </div>
        <div class="linha">
            <div class="col-1">
                <label>E-mail: </label>
                <br>
                <input type="email" placeholder="exemplo@recrute.me">
            </div>
            <div class="col-2">
                <label>Idade: </label>
                <br>
                <input type="number">
            </div>
        </div>
        <div class="linha">
            <div class="col-1">
                <label>Url Linkedin:</label>
                <br>
                <input type="url" placeholder="www.linkedin.com/in/...">
            </div>
        </div>
        <div class="boxConhecimento">
            <label>Conhecimento</label>
            <div class="linha">
                <div class="col-1">
                    <div class="pretty p-default p-curve p-thick">
                        <input id="c#" type="checkbox">
                        <div class="state">
                            <label for="c#">C#</label>
                        </div>
                    </div>
                    <div class="pretty p-default p-curve p-thick">
                        <input id="javascript" type="checkbox">
                        <div class="state">
                            <label for="javascript">Javascript</label>
                        </div>
                    </div>
                    <div class="pretty p-default p-curve p-thick">
                        <input id="nodejs" type="checkbox">
                        <div class="state">
                            <label for="nodejs">Nodejs</label>
                        </div>
                    </div>
                    <div class="pretty p-default p-curve p-thick">
                        <input id="angular" type="checkbox">
                        <div class="state">
                            <label for="angular">Angular</label>
                        </div>
                    </div>
                    <div class="pretty p-default p-curve p-thick">
                        <input id="laravel" type="checkbox">
                        <div class="state">
                            <label for="laravel">Laravel</label>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <div class="pretty p-default p-curve p-thick">
                        <input id="react" type="checkbox">
                        <div class="state">
                            <label for="react">React</label>
                        </div>
                    </div>
                    <div class="pretty p-default p-curve p-thick">
                        <input id="ionic" type="checkbox">
                        <div class="state">
                            <label for="ionic">Ionic</label>
                        </div>
                    </div>
                    <div class="pretty p-default p-curve p-thick">
                        <input id="mensageria" type="checkbox">
                        <div class="state">
                            <label for="mensageria">Mensageria</label>
                        </div>
                    </div>
                    <div class="pretty p-default p-curve p-thick">
                        <input id="php" type="checkbox">
                        <div class="state">
                            <label for="php">PHP</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>