#formularioCandidato {
    height: 950px;
    width: 100%;
    margin: 0 auto;
    background-color: #3498db;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

#formularioCandidato form {
    width: 30%;
    margin-top: 100px;
    padding: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #2c3e50;
}

#formularioCandidato input:not([type=checkbox]) {
    border: 0;
    background: none;
    display: block;
    text-align: center;
    border: 2px solid white;
    width: calc(100% - 34px);
    padding: 15px;
    outline: none;
    font-size: 15px;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

#formularioCandidato input:disabled {
    background-color: #636e7c;
}

#formularioCandidato .linha {
    display: flex;
    margin-bottom: 20px;
}

#formularioCandidato .col-1 {
    width: 100%;
}

#formularioCandidato .col-2 {
    width: 50%;
    margin-left: 15px;
}

#formularioCandidato .boxConhecimento .linha {
    border: 2px solid white;
    border-radius: 20px;
    padding: 15px;
}

#formularioCandidato .boxConhecimento .pretty {
    display: flex;
    margin: 10px 0;
}

#formularioCandidato .boxConhecimento label {
    cursor: pointer;
}

#formularioCandidato .btn {
    width: 60px;
    height: 60px;
    margin: 5px;
    border: none;
    border-radius: 50%;
    font-weight: 900;
    outline: none;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);
}

#formularioCandidato .voltar {
    background-color: white;
}

#formularioCandidato .cadastrar {
    background-color: #27ae60;
    color: white;
}
#formularioCandidato .alterar {
    background-color: #f39c12;
    color: white;
}
#formularioCandidato .deletar {
    background-color: #e74c3c;
    color: white;
}

#formularioCandidato .menu-left {
    position: absolute;
    top: 0;
    left: -80px;
}

#formularioCandidato .menu-right {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -80px;
}

#formularioCandidato fa-icon {
    font-size: 20px;
    transition: 0.5s;
}

@media screen and (max-width: 900px) {
    #formularioCandidato form {
        width: fit-content;
        margin-top: 160px;
    }
}