<app-header></app-header>

<div id="formularioCandidato">
    <form [formGroup]="formCandidato">
        <div class="linha">
            <div class="col-1">
                <label>Nome: </label>
                <br>
                <input type="text" id="nome" formControlName="nome" placeholder="Nome completo" required>
            </div>
        </div>
        <div class="linha">
            <div class="col-1">
                <label>E-mail: </label>
                <br>
                <input type="email" id="email" formControlName="email" placeholder="exemplo@recrute.me" required>
            </div>
            <div class="col-2">
                <label>Idade: </label>
                <br>
                <input type="number" id="idade" formControlName="idade" required>
            </div>
        </div>
        <div class="linha">
            <div class="col-1">
                <label>Url Linkedin:</label>
                <br>
                <input type="url" id="urlLinkedin" formControlName="urlLinkedin" placeholder="www.linkedin.com/in/..."
                    required>
            </div>
        </div>
        <div class="boxConhecimento">
            <label>Conhecimento</label>
            <div class="linha">
                <div class="col-1">
                    <div *ngFor="let cbConhecimento of cbConhecimentos" class="pretty p-default p-curve p-thick">
                        <input class="checkbox" id="{{ cbConhecimento.nome }}" [value]="cbConhecimento.id" formControlName="cbConhecimentos" type="checkbox">
                        <div class="state">
                            <label for="{{ cbConhecimento.nome }}">{{ cbConhecimento.nome }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-left">
            <button class="btn voltar" type="button" title="Voltar" routerLink="/tabelaCandidato">
                <fa-icon [icon]="voltar"></fa-icon>
            </button>
        </div>
        <div class="menu-right">
            <button class="btn cadastrar" type="submit" title="Cadastrar" (click)="cadastrarCandidato()">
                <fa-icon [icon]="novo"></fa-icon>
            </button>
            <button class="btn alterar" type="submit" title="Alterar" (click)="atualizarCandidato()">
                <fa-icon [icon]="alterar"></fa-icon>
            </button>
            <button class="btn deletar" type="submit" title="Deletar" (click)="deletarCandidato()">
                <fa-icon [icon]="deletar"></fa-icon>
            </button>
        </div>
    </form>
</div>