<div id="tabela">
    <app-header></app-header>
    <table class="table">
        <button class="bnt bntNovo">
            <fa-icon [icon]="novo"></fa-icon> Novo
        </button>
        <button class="bnt bntPesquisar" (click)="mostrarBoxFiltro()">
            <fa-icon [icon]="pesquisar"></fa-icon> Filtrar
        </button>
        <div class="boxFiltro esconder">
            <div class="linha">
                <div class="col-1">
                    <div class="pretty p-default p-curve p-thick">
                        <input id="c#" type="checkbox">
                        <div class="state">
                            <label for="c#">C#</label>
                        </div>
                    </div>
                    <div class="pretty p-default p-curve p-thick">
                        <input id="javascript" type="checkbox">
                        <div class="state">
                            <label for="javascript">Javascript</label>
                        </div>
                    </div>
                    <div class="pretty p-default p-curve p-thick">
                        <input id="nodejs" type="checkbox">
                        <div class="state">
                            <label for="nodejs">Nodejs</label>
                        </div>
                    </div>
                    <div class="pretty p-default p-curve p-thick">
                        <input id="angular" type="checkbox">
                        <div class="state">
                            <label for="angular">Angular</label>
                        </div>
                    </div>
                    <div class="pretty p-default p-curve p-thick">
                        <input id="laravel" type="checkbox">
                        <div class="state">
                            <label for="laravel">Laravel</label>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <div class="pretty p-default p-curve p-thick">
                        <input id="react" type="checkbox">
                        <div class="state">
                            <label for="react">React</label>
                        </div>
                    </div>
                    <div class="pretty p-default p-curve p-thick">
                        <input id="ionic" type="checkbox">
                        <div class="state">
                            <label for="ionic">Ionic</label>
                        </div>
                    </div>
                    <div class="pretty p-default p-curve p-thick">
                        <input id="mensageria" type="checkbox">
                        <div class="state">
                            <label for="mensageria">Mensageria</label>
                        </div>
                    </div>
                    <div class="pretty p-default p-curve p-thick">
                        <input id="php" type="checkbox">
                        <div class="state">
                            <label for="php">PHP</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Conhecimentos</th>
        </tr>
        <tr *ngFor="let candidato of candidatos" (click)="visualizarCandidato(candidato)">
            <td>{{ candidato.nome }}</td>
            <td>{{ candidato.email }}</td>
            <td>
                <label *ngFor="let conhecimentos of candidato.cbConhecimentos">
                    {{ conhecimentos.nome }},
                </label>
            </td>

        </tr>
    </table>
</div>