<div id="tabela">
    <app-header></app-header>
    <table class="table">
        <button class="bnt bntNovo" routerLink="/formularioCandidato">
            <fa-icon [icon]="novo"></fa-icon> Novo
        </button>
        <div class="boxFiltro">
            <label>
                Pesquisar:
                <input type="text" id="cbFiltro" [(ngModel)]="cbFiltro" placeholder="Conhecimentos...">
            </label>
        </div>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Conhecimentos</th>
        </tr>
        <tr *ngFor="let candidato of candidatos | conhecimentoFiltro:cbFiltro" (click)="visualizarCandidato(candidato)">
            <td>{{ candidato.nome }}</td>
            <td>{{ candidato.email }}</td>
            <td>
                <label *ngFor="let cbConhecimento of candidato.cbConhecimentos">
                    {{ cbConhecimento.nome }},
                </label>
            </td>
        </tr>
    </table>
</div>